# Ignore binaries
ad
iad
ad.exe
iad.exe
src/cone_test
src/layer_test
src/mc_test
src/oblique_test
src/mc_lost_test
archives/*
script/*
docs/manual.aux
docs/manual.bbl
docs/manual.blg
docs/manual.log
docs/manual.out
docs/manual.toc
docs/jupyter
docs/*graffle
src/ad.*
src/iad.*
src/lib_*

# macOS cruft
.DS_Store
.#*

# Ignore archives
*.zip

# Ignore (generated) .txt files,
test/.ipynb_checkpoints/*
test/.jupyter/*
test/*.txt
test/*.svg
test/*.ipynb

# Ignore generated .o and .c and .h files
src/*.o
src/libiad.dylib
src/libiad.so
src/libiad.dll
libiad.dylib
libiad.so
libiad.dll

# Don't ignore these files
!src/version.h
!src/nr*.[ch]
!src/mc_lost.[ch]
!src/mygetopt.[ch]
!src/ad.w
!src/iad.w