# Ignore binaries
ad
iad
ad.exe
iad.exe
src/ad_cone_test
oldzip/*
script/*
doc/manual.aux
doc/manual.bbl
doc/manual.blg
doc/manual.log
doc/manual.out
doc/manual.toc

# macOS cruft
.DS_Store

# Ignore archives
*.zip

# Ignore (generated) .txt files,
test/*.txt

# Ignore generated .o and .c and .h files
src/*.o
src/libiad.dylib
src/libiad.so
libiad.dylib
libiad.so

# Don't ignore these files
!src/version.h
!src/nr*.[ch]
!src/mc_lost.[ch]
!src/mygetopt.[ch]
